* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.calculator-container {
  width: 650px;
  height: 500px;
  border: 1px solid #0e0d0d;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(16, 15, 16);
}

.display {
  background-color: rgb(132, 135, 147);
  width: 100%;
  height: auto;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
  font-size: 2.5rem;
  align-items: center;
  border-radius: 2px;
  color: #fff;
  padding-right: 0.5em;
}

.btn {
  width: 25%;
  height: auto;
  border-radius: 4px;
  border: 1px solid grey;
  font-weight: bolder;
}

.zero {
  width: 50%;
}

.orange {
  background-color: rgb(245, 144, 63);
}

.calculator .center {
  background-color: rgb(224, 224, 224);
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(206, 205, 205);
}

.btn:active {
  background-color: rgb(224, 224, 224);
}

.quotes {
  background-color: aqua;
  font-size: 2rem;
  width: 60%;
}
